################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PlayAreaClientCpp/.vs/PlayAreaClientCpp/v15
/PlayAreaClientCpp/PlayAreaClientCpp/Debug
/PlayAreaClientCpp/PlayAreaClientCpp/x64/Debug
/PlayAreaClientCpp/PlayAreaClientCpp/x64/Release
/PlayAreaClientCpp/x64
/PlayArea/PlayArea/x64/Debug
/PlayArea/PlayArea/x64/Release
/PlayArea/.vs/PlayArea/v15
/PlayArea/x64
/PlayAreaMonitor/Binaries
/PlayAreaMonitor/DerivedDataCache
/PlayAreaMonitor/Intermediate
/PlayAreaMonitor/Saved
/PlayAreaMonitor/.vs/PlayAreaMonitor/v14
/PlayAreaMonitor/PlayAreaMonitor.VC.VC.opendb
/PlayAreaMonitor/PlayAreaMonitor.VC.db
/PlayAreaMonitor/PlayAreaMonitor.sln
/PlayArea/PlayArea/PlayArea.vcxproj.user
/PlayAreaClientNet/.vs/PlayAreaClientNet/v15
/PlayAreaClientNet/PlayAreaClientNet/obj/Debug
/PlayAreaClientNet/PlayAreaClientNet/obj/Release
/PlayAreaClientNet/PlayAreaClientNet/bin/Release
/PlayAreaClientNet/PlayAreaClientNet/bin/Debug
/TestClient/.vs
/TestClient/TestClient/Debug
/TestClient/TestClient/x64
/TestClient/x64
/PlayArea/.vs/config
